<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SrumsSerivceMapper">

	<resultMap
		type="org.kitri.services.common.data.pageauth.SrumsServiceDT"
		id="srumsService">
		<result property="serviceId" column="SERVICE_ID" />
		<result property="serviceName" column="SERVICE_NAME" />
	</resultMap>

	<select id="readServiceById" resultMap="srumsService"
		parameterType="String">
		select SERVICE_ID, SERVICE_NAME
		from
		TB_SHQ_SRUMS_SERVICE
		where SERVICE_ID = #{serviceId}
	</select>
	
	<insert id="registerSrumsService">
		INSERT INTO TB_SHQ_SRUMS_SERVICE (SERVICE_ID, SERVICE_NAME)
		VALUES (#{serviceId}, #{serviceName})
	</insert>

</mapper>